    <div class="container text-center">
<!--       <div class="row">
        <div class="col-md-6 col-md-offset-3 mb40">
          <h2>I'm Kawai</h2>
          <p>产品设计/用户体验设计/品牌设计</p>    
        </div>
      </div> -->

      <div class="row probootstrap-gutter16">
        <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="/2019/06/12/bugu/" class="img-bg" style="background-image: url(/images/bugu_cover.png);">
            <div class="probootstrap-photo-details">
              <h2>布谷语音</h2>
              <p>遇见你的声音</p>
            </div>
          </a>
        </div>


        <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="/2019/06/25/deepay/" class="img-bg" style="background-image: url(/images/deepay_cover.png);">
            <div class="probootstrap-photo-details">
              <h2>DeePay</h2>
              <p>加密货币支付网关</p>
            </div>
          </a>
        </div>
      </div>

      <div class="row probootstrap-gutter16">
        <div class="col-md-5 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="/2019/06/13/测试/" class="img-bg" style="background-image: url(/images/img_3.jpg);">
            <div class="probootstrap-photo-details">
              <h2>得鱼搜索</h2>
              <p>快速建立搜索业务的PaaS系统</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="single-page.html" class="img-bg" style="background-image: url(/images/img_5.jpg);">
            <div class="probootstrap-photo-details">
              <h2>魔泡星球</h2>
              <p>高品质的互惠社区</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="single-page.html" class="img-bg" style="background-image: url(/images/img_4.jpg);">
            <div class="probootstrap-photo-details">
              <h2>365EX</h2>
              <p>全球数字资产交易所</p>
            </div>
          </a>
        </div>
      </div>

       <div class="row probootstrap-gutter16">
        <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="single-page.html" class="img-bg" style="background-image: url(/images/img_7.jpg);">
            <div class="probootstrap-photo-details">
              <h2>魔泡树科技</h2>
              <p>In Code We Trust.</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="single-page.html" class="img-bg" style="background-image: url(/images/img_6.jpg);">
            <div class="probootstrap-photo-details">
              <h2>杂志云日常</h2>
              <p>吉祥物·专题·Banner</p>
            </div>
          </a>
        </div>
      </div>

      <div class="row probootstrap-gutter16">
        <div class="col-md-5 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="/2019/06/13/测试/" class="img-bg" style="background-image: url(/images/img_3.jpg);">
            <div class="probootstrap-photo-details">
              <h2>电子校园卡</h2>
              <p>电子卡面设计</p>
            </div>
          </a>
        </div>
        <div class="col-md-7 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="single-page.html" class="img-bg" style="background-image: url(/images/img_5.jpg);">
            <div class="probootstrap-photo-details">
              <h2>其他</h2>
              <p>狗屎拉杂小东西</p>
            </div>
          </a>
        </div>

      
    </div>
